/* @import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Playwrite+DE+SAS:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* body {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
} */

.header {
  z-index: 10;
    position: sticky;
    top: 0;
    color: white;
    background: #fff;
    padding: 3px 0;
    /* font-family: "Great Vibes", cursive; */
    font-family: "Poppins", sans-serif;
}

.header-container {
  /* width: 90%; */
  /* margin: auto; */
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  cursor: pointer;
  width: 243px;
  height: 82.77px;
  object-fit: cover;
  margin-left: -3px;
}

.navbar {
  /* width: fit-content; */
}
.navbar ul {
  /* width: 1018px; */
  height: 70px;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 59px;
  justify-content: space-evenly;
}

.navbar li {
  width: 113px;
  text-align: center;
}

.navbar a {
  cursor: pointer;
  font-weight: 400;
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  text-shadow: 2px 5px 6px rgba(0, 0, 0, 0.22);
  transition: all 0.3s ease;
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

.navbar a:hover {
  display: inline-block;
  color: #1a241e;
  font-weight: 500;
  /* background-color: rgba(0, 0, 0, 0.15); */
  transform: translateY(-2px);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}

.lang-icon img {
  cursor: pointer;
  width: 32px;
  height: 22px;
  margin-right: -35px;
  margin-left: -49px;
  margin-top: -72px;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.lang-flag {
  transform: scale(1.1);
}

.hero img {
  width: 100vw;
}
