.admin-content h1 {
  font-size: 32px;
  font-weight: bold;
}

.ant-menu a {
  text-decoration: none !important;
}


.btn-logout{
  margin-left: auto;
  margin-right: auto;
}
.btn-logout:hover{
opacity: 0.5;
}